.other_than_nav {
    margin-top: 65px;
  }
  #nav_currentpage {
    border-bottom: 2px solid white; 
  }
  .active {
    margin: 0px 5px;
  }
  .rounded-container {
      width: 1130px; 
      /* height: 200px; */
      background-color: #f0f0f0;
      border-radius: 5px; 
      padding: 20px; 
      display: flex;
      margin-left: 10%;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  
      
  .table{

    border: 2px;
    width:100%;
    line-height:40px;
    margin-left: 1px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  .table thead {
    background-color: dark; 
    color: white;
  }
  .table th, .table td {
    border: 1px solid black; 
    padding: 10px;
  }

  .db{
    width:80%;
    margin-top: 50px;
    margin-left:10%;
  }
  select{
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    border-radius: 0.25rem;
  }
  button.btn.btn-primary.col-md-1 {
    width: 200px;
    height: calc(1.5em + .75rem + 2px);
    margin-top: 30px;
  }
  button.btn.btn-success.col-md-1 {
    width: 200px;
    height: calc(1.5em + .75rem + 2px);
    margin-top: 30px;
  }
  button.btn.btn-danger.col-md-1 {
    width: 200px;
    height: calc(1.5em + .75rem + 2px);
    margin-top: 30px;
  }
  #btn-back-to-top {
    position: fixed;
    bottom: 60px;
    right: 40px;
    font-size: 20px;
    padding: 10px 17px;
    background-color: #333;
    border-radius: 50%;
    display: none;
  }
  #btn-back-to-top i {
    color: #f0f0f0;
  }
  .sticky-header {
    position: sticky;
    top: 55px;
  }