.other_than_nav {
    margin-top: 60px;
    }

    .rounded-container {
      width: 1300px; /* Set the width of your container */
      height: 600px; /* Set the height of your container */
      background-color: #f0f0f0; /* Set the background color */
      border-radius: 5px; /* Adjust the border-radius to control the roundness of corners */
      padding: 20px; /* Add padding for content inside the container */
      display: flex;
      margin: 80px 60px 80px 70px;
    }
    .subcontainer1 {
      flex: 3;
    }
    #banner1 {
      width: 700px;
      margin-top: 30px;
      margin-left: 15px;
      border-radius: 15px;
    }
    .subcontainer2 {
      margin-top: 40px;
      padding-left: 20px;
      margin-bottom: 120px;
      flex: 2;
      border-left: 1px solid white;
    }
    .form-group {
      width: 250px;
    }
    #submitbtn {
      height: 30px;
      margin-top: 10px;
      margin-left: 0px;
    }
    .btn-custom {
      height: 35px;
    }
    .loginbtn {
      margin-left: 40px;
      margin-top: 10px;
    }